node_modules
exports
raw-data
_wiki
.cache
.bash_history
.yarn
*.dump
exports.tar.gz
.venv
.env
.ruff_cache
.pytest_cache
.DS_Store
.git
.github
.gitignore
requirements*.in
reset-sequences.sql
.DS_Store
